@use "../common";

section {
    width: 100vw;
    height: calc(100vw / 3);
    background-color: #96c;
    background-size: cover;
    background-position: center;

    .gradient {
        height: 100%;
        width: 100%;
        background: -moz-linear-gradient(180deg, common.$color-main-dark 0%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(180deg, common.$color-main-dark 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(180deg, common.$color-main-dark 0%, rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222", endColorstr="#000000", GradientType=1);
    }

    .square {
        height: 100%;
        width: 100%;
        border: common.$color-main-light 12px solid;
        background-color: rgb(34, 34, 34, 0.5);
    }

    .content {
        height:100%;
        padding: 24px;
        position: relative;
        top: -100%;
        color: common.$color-main-light;
        display: flex;
        align-items: center;
    }
}